@import "tailwindcss";

@layer utilities {
  .bg-wood {
    background-image: url('https://images.unsplash.com/photo-1505330622279-bf7d7fc918f4?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
  }
}
